/* .container{
    height: 100%;
} */

.tskname
{
    font-size: 25px;
    margin-left: 2%;
    display: inline-block;
}

.createby
{
    font-size: 20px;
    margin-left: 2%;
    display: inline-block;
}

.para
{
    display: inline-block;
}